# .env
HOST_CODE_PATH=C:/Users/user/develop/code #Your code folder
CONTAINER_CODE_PATH=/code
NODE_VERSION=20.8.1     #node version
NODE_HOST_PORT=8080          #host port
NODE_CONTAINER_PORT=8080     #container port